* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f6f8f9;
}

header {
	padding:20px 10px;
	background-color: white;
	margin-top: 2px;
}

header>h1 {
	display: inline-block;
	line-height: 50px;
	vertical-align: top;
}

main {
	width: 60%;
	margin: 40px auto;
}

.container {
	background-color: white;
	margin-top: 3px;
}

section>h2::before {
	content: '\25BC';
}

.done::before {
	content: '\2714';
	color: green;
	border-color: green;
}

.not-done::before {
	content: '\2717';
	color: red;
	border-color: red;
}

.done::before, .not-done::before {
	border: 1px solid;
	border-radius: 50%;
	padding: 2px;
}

.tag-editorial::after, .tag-q1::after, .tag-recruiting::after, .tag-mobile::after, .tag-website::after, .tag-sales::after {
	color: white;
	border-radius: 25%;
	padding: 5px;
	margin-left: 5px;
}

.tag-editorial::after {
	content: 'Editorial';
	background-color: #45abea;
}

.tag-q1::after {
	content: 'Q1 Goals';
	background-color: #9c72e4;
}

.tag-recruiting::after {
	content: 'Recruiting';
	background-color: #64c0a9;
}

.tag-mobile::after {
	content: 'Mobile';
	background-color: #f29e33;
}

.tag-website::after {
	content: 'Website';
	background-color: #d863a1;
}

.tag-sales::after {
	content: 'Sales';
	background-color: #b0c926;
}
