* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif ;
}

body {
	background-color: #f6f8f9;
}

header {
	padding: 20px 30px;
	background-color: white;
	margin-top: 2px;
}

header>h1 {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-size: 35px;
}

header img {
	vertical-align: middle;
	margin-right: 3px;
}

main {
	width: 60%;
	margin: 40px auto;
}

.buttons, .checklist {
	background-color: white;
	padding-left: 10%;
	padding-right: 10%;
}

.checklist {
	padding-top: 30px;
	padding-bottom: 30px;
}

.buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2px;
}

button {
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.btn-task {
	color: white;
	background-color: #45abea;
	border-color: #45abea;
}

.btn-section {
	color: lightgray;
	background-color: white;
	border-color: lightgrey;
}

section {
	margin-bottom: 20px;
}

ul {
	list-style: none;
	line-height: 2.5;
}

.done, .not-done {
	display: inline-block;
	border: 1px solid;
	border-radius: 50%;
	padding: 2px;
	text-align: center;
	font-size: 0.5em;
	line-height: 8px;
	vertical-align: middle;
	height: 14px;
	width: 14px;
}

.done {
	color: green;
	border-color: green;
}

.not-done {
	color: red;
	border-color: red;
}

.tag {
	display: inline-block;
	color: white;
	border-radius: 10px;
	padding: 0 4px;
	margin-left: 5px;
	font-size: 0.7em;
	vertical-align: middle;
}

.editorial {
	background-color: #45abea;
}

.q1 {
	background-color: #9c72e4;
}

.recruiting {
	background-color: #64c0a9;
}

.mobile {
	background-color: #f29e33;
}

.website {
	background-color: #d863a1;
}

.sales {
	background-color: #b0c926;
}
