* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f6f8f9;
}

header {
	padding:20px 10px;
	background-color: white;
	margin-top: 2px;
}

header>h1 {
	display: inline-block;
	line-height: 50px;
	vertical-align: top;
}

main {
	width: 60%;
	margin: 40px auto;
}

.container {
	background-color: white;
	margin-top: 3px;
}

section>h2::before {
	content: '\25BC';
}

.done::before {
	content: '\2714';
}

.not-done::before {
	content: '\2717';
}

.tag-editorial::after {
	content: 'Editorial';
}

.tag-q1::after {
	content: 'Q1 Goals';
}

.tag-recruiting::after {
	content: 'Recruiting';
}

.tag-mobile::after {
	content: 'Mobile';
}

.tag-website::after {
	content: 'Website';
}

.tag-sales::after {
	content: 'Sales';
}
