* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #f6f8f9;
}

header {
	padding: 20px 30px;
	background-color: white;
	margin-top: 2px;
}

header h1 {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
header img {
	vertical-align: middle;
}

main {
	width: 60%;
	margin: 40px auto;
}

.buttons, .checklist {
	background-color: white;
	margin-top: 3px;
	padding-left: 10%;
	padding-right: 10%;
}

.checklist {
	padding-top: 30px;
	padding-bottom: 30px;
}

.buttons {
	padding-top: 10px;
	padding-bottom: 10px;
}

button {
	border: 1px solid;
	padding: 5px;
	border-radius: 5px;
}
section>h2::before {
	content: '\25BC';
	font-size: 0.5em;
}

ul {
	list-style: none;
	line-height: 2em;
}

.done::before, .not-done::before {
	border: 1px solid;
	border-radius: 50%;
	padding: 3px;
	height: 10px;
	width: 10px;
	text-align: center;
	font-size: 0.5em;
	margin: 5px;
}

.done::before {
	content: '\2714';
	color: green;
	border-color: green;
}

.not-done::before {
	content: '\2717';
	color: red;
	border-color: red;
}

.tag-editorial::after, .tag-q1::after, .tag-recruiting::after, .tag-mobile::after, .tag-website::after, .tag-sales::after {
	color: white;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5px;
}

.tag-editorial::after {
	content: 'Editorial';
	background-color: #45abea;
}

.tag-q1::after {
	content: 'Q1 Goals';
	background-color: #9c72e4;
}

.tag-recruiting::after {
	content: 'Recruiting';
	background-color: #64c0a9;
}

.tag-mobile::after {
	content: 'Mobile';
	background-color: #f29e33;
}

.tag-website::after {
	content: 'Website';
	background-color: #d863a1;
}

.tag-sales::after {
	content: 'Sales';
	background-color: #b0c926;
}
