* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #f6f8f9;
}

header {
	padding: 20px 30px;
	background-color: white;
	margin-top: 2px;
}

header>h1 {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-size: 35px;
}

header img {
	vertical-align: middle;
	margin-right: 3px;
}

main {
	width: 60%;
	margin: 40px auto;
}

.buttons, .checklist {
	background-color: white;
	padding-left: 10%;
	padding-right: 10%;
}

.checklist {
	padding-top: 30px;
	padding-bottom: 30px;
}

.buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2px;
}

button {
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.btn-task {
	color: white;
	background-color: #45abea;
	border-color: #45abea;
}

.btn-section {
	color: lightgray;
	background-color: white;
	border-color: lightgrey;
}

section {
	margin-bottom: 20px;
}

section>h3::before {
	content: '\25BC';
	font-size: 0.6em;
	margin-right: 2px;
}

ul {
	list-style: none;
	line-height: 2.5;
	vertical-align: middle;
}

.done::before, .not-done::before {
	display: inline-block;
	border: 1px solid;
	border-radius: 50%;
	padding: 3px;
	text-align: center;
	font-size: 0.5em;
	margin-right: 8px;
	line-height: 10px;
	vertical-align: middle;
	height: 10px;
	width: 10px;
}

.done::before {
	content: '\2714';
	color: green;
	border-color: green;
}

.not-done::before {
	content: '\2715';
	color: red;
	border-color: red;
}

.tag::after {
	color: white;
	border-radius: 10px;
	padding: 8px;
	margin-left: 5px;
	font-size: 0.7em;
	vertical-align: middle;
}

.editorial::after {
	content: 'Editorial';
	background-color: #45abea;
}

.q1::after {
	content: 'Q1 Goals';
	background-color: #9c72e4;
}

.recruiting::after {
	content: 'Recruiting';
	background-color: #64c0a9;
}

.mobile::after {
	content: 'Mobile';
	background-color: #f29e33;
}

.website::after {
	content: 'Website';
	background-color: #d863a1;
}

.sales::after {
	content: 'Sales';
	background-color: #b0c926;
}
